<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/icon/64.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>copyf</title>
    <style>
      [v-cloak] {
        display: none;
      }

      /* http://google.github.io/material-design-icons/#what-are-material-icons- */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/MaterialIcons-Regular.woff2) format('woff2');
      }
      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
      }


      @media (min-width: 576px) {
        .card-columns {
          column-count: 1;
        }
      }
      @media (min-width: 768px) {
        .card-columns {
          column-count: 2;
        }
      }
      @media (min-width: 992px) {
        .card-columns {
          column-count: 2;
        }
      }
      @media (min-width: 1200px) {
        .card-columns {
          column-count: 2;
        }
      }

      .modal-lg {
        max-width: 80%;
      }

      input[type="file"] {
        display: inline;
        visibility: hidden;
        width: 0;
        height: 0;
      }

      .format-error-alert {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container-fluid" v-cloak>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h1>copyf</h1></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
          </ul>
        </div>
      </nav>

      <div class="row mt-2">
        <div class="col-xs-12 col-sm-12">
          <input type="file"
                 @change="importStorage">
          <button class="btn btn-primary"
                  @click="newFormat">{{ $t('manager.button.addFormat') }}</button>
          <button class="btn btn-primary"
                  @click="exportStorage">
            {{ $t('manager.button.export') }}
            <a href="" target="_blank"></a>
          </button>
          <div class="btn btn-primary" @click="clickImport">
            {{ $t('manager.button.import') }}
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#help">
            {{ $t('manager.button.help') }}
          </button>
          <span>{{ $t('manager.note.order') }}</span>
        </div>
      </div>


      <!-- FORMATS -->

      <div class="row mt-2">
        <div class="col-xs-12 col-sm-12">

          <div class="card-columns">
            <draggable v-model="formats" :options="{handle: '.drag-handle'}">
              <div class="card"
                   v-for="(fmt, index) in formats"
                   :key="fmt.meta.uuid"
                   :id="'format-' + index">
                <div class="card-header drag-handle d-flex justify-content-between p-2 pl-3">
                  <i class="material-icons">drag_handle</i>
                  <span class="align-bottom text-muted small">
                    {{ index + 1 }}
                  </span>
                </div>
                <div class="card-body p-2">
                  <div class="form-group mb-1">
                    <input class="form-control"
                           type="text"
                           placeholder="Name (Optional)"
                           @change="saveFormats"
                           v-model.lazy="fmt.name">
                  </div>
                  <div class="form-group mb-2">
                    <textarea class="form-control format-text"
                              type="text"
                              placeholder="Format"
                              wrap="off"
                              rows="2"
                              @change="updateFormat"
                              v-model.lazy="fmt.text"></textarea>
                    <div class="format-error-alert invalid-feedback" role="alert"></div>
                  </div>
                  <div class="form-group mb-0 d-flex justify-content-between">
                    <button class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            :data-target="'#setting-' + index" >{{ $t('manager.setting.title') }}</button>
                    <button class="btn btn-danger btn-sm"
                            @click="formats.splice(index, 1)">{{ $t('manager.delete') }}</button>
                  </div>
                </div>

                <div class="modal fade" :id="'setting-' + index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ $t('manager.setting.title') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label>{{ $t('manager.setting.targetUrls.caption') }}&nbsp;&nbsp;<span class="text-muted small">{{ $t('manager.setting.targetUrls.note') }}</span></label>
                          <textarea class="form-control format-text"
                                    type="text"
                                    wrap="off"
                                    rows="2"
                                    :placeholder="$t('manager.setting.targetUrls.note')"
                                    @change="saveFormats"
                                    v-model.lazy="fmt.targetUrls"></textarea>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </draggable>
          </div>

        </div>
      </div>

      <!-- HELP -->
      <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ $t('manager.help.title') }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <h2 class="nav-link active"
                      data-toggle="tab"
                      href="#help-variables">
                    {{ $t('manager.help.variables') }}
                  </h2>
                </li>
                <li class="nav-item">
                  <h2 class="nav-link"
                      data-toggle="tab"
                      href="#help-modifiers">
                    {{ $t('manager.help.modifiers') }}
                  </h2>
                </li>
                <li class="nav-item">
                  <h2 class="nav-link"
                      data-toggle="tab"
                      href="#help-contact">
                    {{ $t('manager.help.contacts') }}
                  </h2>
                </li>
              </ul>

              <div class="card">
                <div class="tab-content card-body">
                  <div class="tab-pane active" id="help-variables">
                    <table class="table table-bordered">
                      <tr>
                        <th>{{ $t('manager.help.name') }}</th>
                        <th>{{ $t('manager.help.option') }}</th>
                        <th>{{ $t('manager.help.example') }}</th>
                        <th>{{ $t('manager.help.description') }}</th>
                      </tr>
                      <tr>
                        <td>title</td>
                        <td>-</td>
                        <td>$(title)</td>
                        <td>Page title</td>
                      </tr>
                      <tr>
                        <td>url</td>
                        <td>-</td>
                        <td>$(url)</td>
                        <td>Page URL</td>
                      </tr>
                      <tr>
                        <td>date</td>
                        <td>DATE_TIME_FORMAT</td>
                        <td>$(date yyyy/mm/dd hh:MM:ss)</td>
                        <td>Formatted date time (<a href="https://www.npmjs.com/package/dateformat#usage" target="_blank">see</a>)</td>
                      </tr>
                      <tr>
                        <td>selector</td>
                        <td>JQUERY_SELECTOR</td>
                        <td>$(selector div.container &gt; h1.header)</td>
                        <td>Content text of selected with the JQuery selector</td>
                      </tr>
                      <tr>
                        <td>property</td>
                        <td>PROPERTY_NAME SPACE JQUERY_SELECTOR</td>
                        <td>$(property src content &gt; img.banner)</td>
                        <td>Property text of found element by the JQuery selector</td>
                      </tr>
                      <tr>
                        <td>attribute</td>
                        <td>ATTRIBUTE_NAME SPACE JQUERY_SELECTOR</td>
                        <td>$(attribute src content &gt;> img.banner)</td>
                        <td>Attribute text of found element by the JQuery selector</td>
                      </tr>
                      <tr>
                        <td>selected</td>
                        <td>-</td>
                        <td>Selected (highlighted) text</td>
                      </tr>
                      <tr>
                        <td>const</td>
                        <td>TEXT</td>
                        <td>$(const test)</td>
                        <td>Constant text (for test)</td>
                      </tr>
                    </table>
                    <div>
                      <em>{{ $t('manager.help.alternativeParen') }}</em>
                    </div>
                  </div>

                  <div class="tab-pane" id="help-modifiers">
                    <p>{{ $t('manager.help.modifierNote') }}</p>
                    <table class="table table-bordered">
                      <tr>
                        <th>{{ $t('manager.help.name') }}</th>
                        <th>{{ $t('manager.help.example') }}</th>
                        <th>{{ $t('manager.help.description') }}</th>
                      </tr>
                      <tr>
                        <td>shrink</td>
                        <td>$(property|shrink href a)</td>
                        <td>
                          <p>Shrinked URL</p>
                          <p>
                          <h5>Supported sites</h5>
                          <ul>
                            <li>Amazon</li>
                            <li>Aliexpress</li>
                          </ul>
                          </p>
                          <p>
                          <h5>e.g)</h5>
                          https://www.amazon.co.jp/LONG_LONG_ANNOY_TEXT/dp/B01ABC2DEF/<br>
                          ↓<br>
                          http://www.amazon.co.jp/dp/B01ABC2DEF
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>html</td>
                        <td>$(selector|html #main &gt; .content)</td>
                        <td>HTML Escaped</td>
                      </tr>
                      <tr>
                        <td>trim</td>
                        <td>$(selector|trim #main &gt; .content)</td>
                        <td>Trimmed text</td>
                      </tr>
                      <tr>
                        <td>quote</td>
                        <td>$(title|quote)</td>
                        <td>Quote (as JSON String)</td>
                      </tr>
                    </table>
                  </div>

                  <div class="tab-pane" id="help-contact">
                      <a class="btn btn-primary" target="_blank" href="https://twitter.com/anekos">Twitter</a>
                      <a class="btn btn-primary" target="_blank" href="https://github.com/anekos/">Github</a>
                      <a class="btn btn-primary" target="_blank" href="https://peing.net/anekos/">Peing</a>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <script src="/js/manager.js"></script>
  </body>
</html>
