<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/icon/64.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>copyf</title>
    <style>
      [v-cloak] {
        display: none;
      }
      body {
        width: auto;
        padding: 1em;
      }
      #buttons {
        overflow-y: auto;
        max-height: 20em;
        padding: 0.5em;
      }
    </style>
  </head>

  <script type="text/x-template" id="format-button">
    <div class="btn btn-primary btn-block btn-sm drag-handle"
            :class="formatter ? 'btn-primary' : 'btn-danger'"
            :disabled="!formatter || (!forAllTabs && !available && formatter.useContent)"
            @click="copy(formatter)">
      <span>{{ caption }}</span>
    </div>
  </script>

  <body>
    <div id="app" class="container" v-cloak>
      <div class="row">
        <div id="buttons"
             class="card col-sm-12">
          <draggable v-model="formats" :options="{handle: '.drag-handle'}">
            <div class="mb-1" v-for="fmt in formats">
              <format-button :formatter="parse(fmt.text)"
                             :caption="fmt.name || fmt.text"
                             :available="available"
                             :for-all-tabs="forAllTabs">
              </format-button>
            </div>
          </draggable>
        </div>
      </div>
      <div class="row mt-2"
           v-if="available">
        <input type="text"
               class="form-control"
               placeholder="Instant format"
               v-model="instantFormat"
               v-on:keyup.enter.exact="applyInstantFormat">
      </div>
      <div class="row mt-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="for-all-tabs-check" v-model="forAllTabs">
          <label class="custom-control-label" for="for-all-tabs-check">{{ $t('popup.forAllTabs') }}</label>
        </div>
      </div>
      <div class="row mt-2">
        <button type="button"
                class="btn btn-secodary btn-block mb-2"
                @click="showManager">{{ $t('popup.openManager') }}</button>
      </div>
    </div>
    <script src="/js/popup.js"></script>
  </body>
</html>
