<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/icon/64.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>copyf</title>
    <style>
      [v-cloak] {
        display: none;
      }
      body {
        width: auto;
        padding: 1em;
      }
      #buttons {
        overflow-y: auto;
        max-height: 20em;
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container" v-cloak>
      <div class="row">
        <div id="buttons" class="card col-sm-12">
          <draggable v-model="formats" :options="{handle: '.drag-handle'}">
            <div class="btn btn-primary btn-block btn-sm drag-handle"
                 @click="copy(fmt)"
                 v-for="fmt in formats">
              <span>{{ fmt.name || fmt.text }}</span>
            </div>
          </draggable>
        </div>
      </div>
      <div class="row mt-2">
        <button type="button"
                class="btn btn-secodary btn-block mb-2"
                @click="showManager">Manage formats</button>
      </div>
    </div>
    <script src="/js/popup.js"></script>
  </body>
</html>
